# Access API key from an environment variable for security

## Load environment variables

In [2]:
import os

In [4]:
os.environ["API_KEY_ALPHA"] = "EMZ0M6J3MBBCMTWG"

In [5]:
os.getenv("API_KEY_ALPHA")

'EMZ0M6J3MBBCMTWG'

## Get variable for API key

## Modify module

The API key must be obtained from the user's environment variables.

## Use the module

In [6]:
import sys

In [7]:
sys.path.append('../../../modules/')

In [8]:
import alpha_vantage_api as av

In [9]:
av.preprocess_df('TEF')

             open    high    low  close    volume
1999-11-01  50.19  50.500  49.00  49.00   81100.0
1999-11-02  49.44  49.750  48.81  49.50  988600.0
...           ...     ...    ...    ...       ...
2024-05-09   4.48   4.495   4.43   4.43  593282.0
2024-05-10   4.39   4.390   4.37   4.37  403909.0

[6171 rows x 5 columns]