## Create module with function

## Import module

In [24]:
import sys
sys.path.append('../../../modules/')

In [25]:
import omie_scrap

## Couple of examples

In [26]:
import pandas as pd

In [33]:
dates = pd.date_range(
    start='2024-01-01',
    end='2024-01-31',
    freq='1D'
)

In [34]:
dates = dates.date

In [35]:
date = dates[0]
date

datetime.date(2024, 1, 1)

In [37]:
df = omie_scrap.download_omie(date, path='../data/raw/')
df

      Hours  Price (€)  Volume (MWh)
0   00h-01h      63.33        8744.9
1   01h-02h      50.09        8671.4
..      ...        ...           ...
22  22h-23h      47.50       11154.9
23  23h-24h      42.09       11000.1

[24 rows x 3 columns]

In [38]:
date = dates[1]
date

datetime.date(2024, 1, 2)

In [39]:
df = omie_scrap.download_omie(date, path='../data/raw/')
df

      Hours  Price (€)  Volume (MWh)
0   00h-01h      37.80       11641.3
1   01h-02h      25.00       12463.1
..      ...        ...           ...
22  22h-23h      46.26       14386.8
23  23h-24h      40.10       14229.0

[24 rows x 3 columns]

## Iterate over all elements

In [16]:
for date in dates:
    omie_scrap.download_omie(date, path='../data/raw/')

## BONUS: Combine all files

In [42]:
import glob
paths = glob.glob('../data/raw/*.csv')
paths

['../data/raw/2024-01-13.csv',
 '../data/raw/2024-01-07.csv',
 '../data/raw/2024-01-06.csv',
 '../data/raw/2024-01-12.csv',
 '../data/raw/2024-01-04.csv',
 '../data/raw/2024-01-10.csv',
 '../data/raw/2024-01-11.csv',
 '../data/raw/2024-01-05.csv',
 '../data/raw/2024-01-01.csv',
 '../data/raw/2024-01-15.csv',
 '../data/raw/2024-01-29.csv',
 '../data/raw/2024-01-28.csv',
 '../data/raw/2024-01-14.csv',
 '../data/raw/2024-01-16.csv',
 '../data/raw/2024-01-02.csv',
 '../data/raw/2024-01-03.csv',
 '../data/raw/2024-01-17.csv',
 '../data/raw/2024-01-26.csv',
 '../data/raw/2024-01-27.csv',
 '../data/raw/2024-01-19.csv',
 '../data/raw/2024-01-25.csv',
 '../data/raw/2024-01-31.csv',
 '../data/raw/2024-01-30.csv',
 '../data/raw/2024-01-24.csv',
 '../data/raw/2024-01-18.csv',
 '../data/raw/2024-01-20.csv',
 '../data/raw/2024-01-08.csv',
 '../data/raw/2024-01-09.csv',
 '../data/raw/2024-01-21.csv',
 '../data/raw/2024-01-23.csv',
 '../data/raw/2024-01-22.csv']

In [43]:
dfs = []

for path in paths:
    df = pd.read_csv(path)
    dfs.append(df)

df = pd.concat(dfs)
df

      Hours  Price (€)  Volume (MWh)
0   00h-01h      90.00       11273.5
1   01h-02h      87.48       11401.8
..      ...        ...           ...
22  22h-23h      94.27       13673.7
23  23h-24h      75.93       13030.4

[744 rows x 3 columns]