# Query data from APIs (Aplication Program Interfaces)

<img src="https://preview.redd.it/561zhyyucky71.jpg?width=960&crop=smart&auto=webp&s=8e9688b79060cbc38fed991e10447f22f1368cac" width="400">

## Uniform Resource Locator (URL)

The URL is an address we use to locate files on the Internet:

- Documents: pdf, ppt, docx,...
- Multimedia: mp4, mp3, mov, png, jpeg,...
- Data Files: csv, json, db,...

Check out the following video where we inspect the resources we download when locating https://economist.com.

## API structure

An Application Program Interface (API) is a communications tool between the client and the server to carry out information through an URL.

![](https://ws.apms.io/api/_files/gJMxLa3EPPRuFHDmKkftHZ/download/)

The API defines the rules by which the URL will work. Like Python, the API contains:

- Functions
- Paramters
- Accepted Values

The only extra knowledge we need to consider is the use of **tokens**.

A token is a code you use in the request to validate your identity, as most platforms charge money to use their API.

## Examples: No *token* required

### Eurostat: European Data

- GUI: https://ec.europa.eu/eurostat/databrowser/view/NRG_PC_204/default/map?lang=en
- API DOC: https://wikis.ec.europa.eu/display/EUROSTATHELP/API+for+data+access
- [ ] TUTORIAL: Working on it at https://datons.ai

'https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/nrg_pc_204$defaultview/1.0'

,STRUCTURE,STRUCTURE_ID,freq,product,nrg_cons,unit,tax,currency,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,LAST UPDATE
0,dataflow,ESTAT:NRG_PC_204$DEFAULTVIEW(1.0),S,6000,KWH2500-4999,KWH,I_TAX,EUR,AL,2019-S1,0.0920,e,25/04/24 09:10:00
1,dataflow,ESTAT:NRG_PC_204$DEFAULTVIEW(1.0),S,6000,KWH2500-4999,KWH,I_TAX,EUR,AL,2019-S2,0.0933,NaN,25/04/24 09:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3559,dataflow,ESTAT:NRG_PC_204$DEFAULTVIEW(1.0),S,6000,KWH2500-4999,KWH,X_VAT,PPS,UK,2019-S2,0.1822,NaN,25/04/24 09:10:00
3560,dataflow,ESTAT:NRG_PC_204$DEFAULTVIEW(1.0),S,6000,KWH2500-4999,KWH,X_VAT,PPS,UK,2020-S1,0.1781,NaN,25/04/24 09:10:00

### INE: Spanish Statistics Bureau

- API DOC: https://www.ine.es/dyngs/DataLab/manual.html?cid=45
- [ ] TUTORIAL: To be developed at https://datons.ai
- GUI: https://www.ine.es/jaxiT3/Datos.htm?t=56945#_tabs-mapa

'https://servicios.ine.es/wstempus/js/EN/DATOS_TABLA/56936'

,Fecha,T3_TipoDato,T3_Periodo,Anyo,Valor
0,2023-01-01T00:00:00.000+01:00,Final value,"January 1st,",2023,48085361.0
1,2023-01-01T00:00:00.000+01:00,Final value,"January 1st,",2023,23565593.0
...,...,...,...,...,...
4198,2023-01-01T00:00:00.000+01:00,Final value,"January 1st,",2023,3148.0
4199,2023-01-01T00:00:00.000+01:00,Final value,"January 1st,",2023,5401.0

## Examples: *token* Required

### ENTSO-E: European Energy

- GUI: https://transparency.entsoe.eu/
- TUTORIAL: https://datons.ai/entso-e-api-with-python-energy-analysis-in-europe/
- API DOC:
    - OFFICIAL: https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html
    - POSTMAN: https://documenter.getpostman.com/view/7009892/2s93JtP3F6
    - PsrType: https://transparencyplatform.zendesk.com/hc/en-us/articles/15856995130004-PsrType

'https://web-api.tp.entsoe.eu/api'

,psr_type,start,end,resolution,position,quantity
0,B01,2024-01-31T00:00Z,2024-01-31T23:00Z,PT15M,1,396
1,B01,2024-01-31T00:00Z,2024-01-31T23:00Z,PT15M,2,396
...,...,...,...,...,...,...
1930,B19,2024-01-31T00:00Z,2024-01-31T23:00Z,PT15M,91,3824
1931,B19,2024-01-31T00:00Z,2024-01-31T23:00Z,PT15M,92,3916

### ESIOS: Spanish Energy

- GUI: https://www.esios.ree.es/
- TUTORIAL: https://datons.ai/esios-api-with-python-automate-spanish-electric-grid-analysis/
- API DOC: https://api.esios.ree.es/

'https://api.esios.ree.es/indicators/1'

,value,datetime,datetime_utc,tz_time,geo_id,geo_name
0,2551.6,2024-01-01T00:00:00.000+01:00,2023-12-31T23:00:00Z,2023-12-31T23:00:00.000Z,8741,Península
1,2336.1,2024-01-01T01:00:00.000+01:00,2024-01-01T00:00:00Z,2024-01-01T00:00:00.000Z,8741,Península
...,...,...,...,...,...,...
742,7487.2,2024-01-31T22:00:00.000+01:00,2024-01-31T21:00:00Z,2024-01-31T21:00:00.000Z,8741,Península
743,6416.0,2024-01-31T23:00:00.000+01:00,2024-01-31T22:00:00Z,2024-01-31T22:00:00.000Z,8741,Península

### FRED: US Economy Data

- GUI: https://fred.stlouisfed.org/
- TUTORIAL: https://datons.ai/download-and-analyze-fred-data-automatically-with-python/
- API DOC: https://fred.stlouisfed.org/docs/api/fred/

{'realtime_start': '2024-05-05',
 'realtime_end': '2024-05-05',
 'observation_start': '1600-01-01',
 'observation_end': '9999-12-31',
 'units': 'lin',
 'output_type': 1,
 'file_type': 'json',
 'order_by': 'observation_date',
 'sort_order': 'asc',
 'count': 676,
 'offset': 0,
 'limit': 100000,
 'observations': [{'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1967-12-01',
   'value': '.'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-01-01',
   'value': '3.65186106'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-02-01',
   'value': '3.673819411'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-03-01',
   'value': '4.142163975'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-04-01',
   'value': '4.155828095'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-05-01',
   'value': '4.088245437'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-06-01',
   'value': '4.545569347'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-07-01',
   'value': '4.753076334'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-08-01',
   'value': '4.9466066'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-09-01',
   'value': '4.948246979'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-10-01',
   'value': '5.182592347'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-11-01',
   'value': '5.399387944'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1968-12-01',
   'value': '5.706347843'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-01-01',
   'value': '5.746196961'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-02-01',
   'value': '5.749956071'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-03-01',
   'value': '6.125157849'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-04-01',
   'value': '6.505620421'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-05-01',
   'value': '6.780633974'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-06-01',
   'value': '6.375966005'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-07-01',
   'value': '6.389268621'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-08-01',
   'value': '6.414746498'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-09-01',
   'value': '6.834758299'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-10-01',
   'value': '6.560106336'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-11-01',
   'value': '6.437390535'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1969-12-01',
   'value': '6.402163808'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-01-01',
   'value': '6.592370014'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-02-01',
   'value': '7.053805927'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-03-01',
   'value': '6.993096123'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-04-01',
   'value': '6.817838113'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-05-01',
   'value': '6.947734731'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-06-01',
   'value': '7.151974844'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-07-01',
   'value': '7.00787567'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-08-01',
   'value': '7.114872285'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-09-01',
   'value': '7.081263039'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-10-01',
   'value': '7.057638255'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-11-01',
   'value': '7.327620064'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1970-12-01',
   'value': '7.342681298'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-01-01',
   'value': '7.014858012'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-02-01',
   'value': '6.329604979'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-03-01',
   'value': '5.50160847'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-04-01',
   'value': '5.306250794'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-05-01',
   'value': '5.060279237'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-06-01',
   'value': '5.239199701'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-07-01',
   'value': '5.165044197'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-08-01',
   'value': '4.913620811'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-09-01',
   'value': '4.672385308'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-10-01',
   'value': '4.376576593'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-11-01',
   'value': '3.953153899'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1971-12-01',
   'value': '3.677258309'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-01-01',
   'value': '3.728280469'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-02-01',
   'value': '3.841502967'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-03-01',
   'value': '4.057916253'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-04-01',
   'value': '3.971403024'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-05-01',
   'value': '3.863863418'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-06-01',
   'value': '3.488589959'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-07-01',
   'value': '3.467340855'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-08-01',
   'value': '3.366129082'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-09-01',
   'value': '3.1247262'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-10-01',
   'value': '3.331141241'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-11-01',
   'value': '3.268535943'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1972-12-01',
   'value': '3.147816809'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-01-01',
   'value': '2.842802671'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-02-01',
   'value': '2.881142745'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-03-01',
   'value': '2.929374136'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-04-01',
   'value': '3.031703085'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-05-01',
   'value': '3.175423207'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-06-01',
   'value': '3.098743668'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-07-01',
   'value': '3.013319714'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-08-01',
   'value': '3.322713188'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-09-01',
   'value': '3.944607922'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-10-01',
   'value': '4.765238145'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-11-01',
   'value': '4.927794502'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1973-12-01',
   'value': '5.30805948'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-01-01',
   'value': '5.845776926'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-02-01',
   'value': '6.291538116'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-03-01',
   'value': '6.816162733'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-04-01',
   'value': '7.104721156'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-05-01',
   'value': '7.728315605'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-06-01',
   'value': '8.616369341'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-07-01',
   'value': '9.526994824'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-08-01',
   'value': '10.103211029'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-09-01',
   'value': '10.593110106'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-10-01',
   'value': '10.561468061'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-11-01',
   'value': '10.985727169'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1974-12-01',
   'value': '11.496042915'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-01-01',
   'value': '11.624378564'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-02-01',
   'value': '11.784135357'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-03-01',
   'value': '11.573788456'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-04-01',
   'value': '11.698351766'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-05-01',
   'value': '10.926931315'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-06-01',
   'value': '10.432971739'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-07-01',
   'value': '9.76743143'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-08-01',
   'value': '8.920589927'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-09-01',
   'value': '8.520421165'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-10-01',
   'value': '8.109587525'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-11-01',
   'value': '8.092959791'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1975-12-01',
   'value': '7.685189103'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-01-01',
   'value': '7.691042386'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-02-01',
   'value': '7.373666255'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-03-01',
   'value': '7.334813689'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-04-01',
   'value': '6.847460223'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-05-01',
   'value': '6.965887097'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-06-01',
   'value': '6.871017008'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-07-01',
   'value': '7.088593777'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-08-01',
   'value': '7.352526572'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-09-01',
   'value': '7.092183496'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-10-01',
   'value': '6.878373933'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-11-01',
   'value': '6.612229044'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1976-12-01',
   'value': '6.196677638'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-01-01',
   'value': '6.048908185'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-02-01',
   'value': '6.05231412'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-03-01',
   'value': '6.102888398'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-04-01',
   'value': '6.580655715'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-05-01',
   'value': '6.741041444'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-06-01',
   'value': '6.920217354'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-07-01',
   'value': '6.881150829'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-08-01',
   'value': '6.832672177'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-09-01',
   'value': '6.873489359'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-10-01',
   'value': '6.950144555'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-11-01',
   'value': '6.999499128'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1977-12-01',
   'value': '7.363992642'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-01-01',
   'value': '7.371987718'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-02-01',
   'value': '7.341035476'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-03-01',
   'value': '7.433603181'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-04-01',
   'value': '7.413807475'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-05-01',
   'value': '7.643491412'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-06-01',
   'value': '7.679164103'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-07-01',
   'value': '7.912838518'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-08-01',
   'value': '8.176594615'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-09-01',
   'value': '8.576148162'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-10-01',
   'value': '9.03646557'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-11-01',
   'value': '9.211524761'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1978-12-01',
   'value': '9.058012586'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-01-01',
   'value': '9.070516336'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-02-01',
   'value': '9.571356337'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-03-01',
   'value': '9.675145162'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-04-01',
   'value': '9.918953512'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-05-01',
   'value': '10.082376559'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-06-01',
   'value': '10.269173247'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-07-01',
   'value': '10.50434739'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-08-01',
   'value': '10.93575743'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-09-01',
   'value': '10.98372295'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-10-01',
   'value': '11.257284188'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-11-01',
   'value': '11.926588317'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1979-12-01',
   'value': '12.734186684'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-01-01',
   'value': '13.469735746'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-02-01',
   'value': '13.599492679'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-03-01',
   'value': '14.331667424'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-04-01',
   'value': '14.755204998'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-05-01',
   'value': '15.115272835'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-06-01',
   'value': '15.774166719'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-07-01',
   'value': '14.133410238'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-08-01',
   'value': '13.268359535'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-09-01',
   'value': '13.087752647'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-10-01',
   'value': '13.084188753'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-11-01',
   'value': '12.870601808'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1980-12-01',
   'value': '12.685251999'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1981-01-01',
   'value': '12.018100571'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1981-02-01',
   'value': '11.229271193'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1981-03-01',
   'value': '10.319341471'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1981-04-01',
   'value': '9.710596634'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',
   'date': '1981-05-01',
   'value': '9.603160634'},
  {'realtime_start': '2024-05-05',
   'realtime_end': '2024-05-05',

    realtime_start realtime_end        date        value
0       2024-05-05   2024-05-05  1967-12-01            .
1       2024-05-05   2024-05-05  1968-01-01   3.65186106
..             ...          ...         ...          ...
674     2024-05-05   2024-05-05  2024-02-01  4.403102398
675     2024-05-05   2024-05-05  2024-03-01  4.509212494

[676 rows x 4 columns]

### EIA API: US Energy Data

- GUI: https://www.eia.gov/regional/
- TUTORIAL: https://datons.ai/eia-api-automating-us-energy-data-with-python/
- API DOC: https://www.eia.gov/opendata/

,period,subba,subba-name,parent,parent-name,timezone,value,value-units
0,2024-01-02,4007,Western/Central Mass.,ISNE,ISO New England,Pacific,46029,megawatthours
1,2024-01-02,4007,Western/Central Mass.,ISNE,ISO New England,Mountain,45972,megawatthours
...,...,...,...,...,...,...,...,...
820,2024-01-01,KACY,Kansas City Board of Public Utilities,SWPP,Southwest Power Pool,Mountain,6111,megawatthours
821,2024-01-02,SCE,Southern California Edison,CISO,California Independent System Operator,Pacific,256736,megawatthours